/*===========================================
Articles & Issues
===========================================*/

/*-------------------------------------------
Search Result
-------------------------------------------*/
.searchResult{
	text-align:center;
	background-color:#fdf8ea;
	border:1px solid #fad993;
	border-radius:3px;
	padding:10px;
	margin-bottom:20px;
}
/*-------------------------------------------
Current Issues
-------------------------------------------*/
.pageSubTitle{
	position:relative;
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
	margin-bottom:20px;
}
	.pageSubTitle .btn{
		position:absolute; top:50%;
		margin-top:-20px;
		padding:5px 10px;
		width:90px;
	}
	.pageSubTitle .btnPagePrev{
		left:0;
	}
	.pageSubTitle .btnPageNext{
		right:0;
	}
	.pageSubTitle .publishDate{
		margin:0 0 10px;
		text-align:center;
		font-size:34px; line-height:1;
		color:#000;
	}
	.pageSubTitle .publisInfo{
		text-align:center;
	}
		.pageSubTitle .publisInfo span{
			display:inline-block;
			line-height:24px;
			margin:0 15px;
		}
			.pageSubTitle .publisInfo strong{
				display:block;
				font-size:24px;
			}
.dataList{}
	.dataList ul{
		list-style:none;
		margin:0;
		padding:0;
	}
		.dataList ul li{
			position:relative;
			border-radius:3px;
			padding:15px; padding-bottom:20px;
		}
		.dataList ul li:nth-child(even){
			background-color:#f5f5f5;
		}
			.dataList .type{
				display:inline;
				border-bottom:1px solid #aaa;
				font-size:13px;
				margin-bottom:5px;
			}
			.dataList .title{
				margin:0;
				font-size:18px; line-height:1.4;
			}
				.dataList .title a{
					color:#142a88;
					transition:.2s;-moz-transition:.2s;-webkit-transition:.2s;
				}
				.dataList .title a:hover{
					color:#00adff;
				}
			.dataList .subtitle{
				margin-top:5px;
				color:#111;
				font-size:15px; line-height:1.4; font-weight:700;
			}
			.dataList .pages{
				margin-top:10px;
				background:url(../images/icon-pages.png?v=20171228) no-repeat 3px 3px;
				background-size:16px 16px;
				padding-left:24px;
				color:#777;
				font-size:13px;
			}
			.dataList .author{
				background:url(../images/icon-author.png?v=20171228) no-repeat 3px 3px;
				background-size:16px 16px;
				padding-left:24px;
				color:#777;
				font-size:13px;
			}
			.dataList .DOI{
				font-size:13px;
			}
				.dataList .DOI a{
					background:url(../images/icon-blank@2x.png?v=20171228);
					background-repeat:no-repeat;
					background-position:2px 50%;
					background-size:12px 12px;
				}
			.dataList .file{
				margin-top:8px;
			}
			@media 
			all and (min--moz-device-pixel-ratio: 1.5),
			all and (-o-min-device-pixel-ratio: 3/2),
			all and (-webkit-min-device-pixel-ratio: 1.5),
			all and (min-device-pixel-ratio: 1.5),
			all and (min-resolution: 1.5dppx) {
				.dataList .pages{background-image:url(../images/icon-pages@2x.png?v=20171228);}
				.dataList .author{background-image:url(../images/icon-author@2x.png?v=20171228);}
				.dataList .date{background-image:url(../images/icon-date@2x.png?v=20171228);}
			}

/*-------------------------------------------
List of Issues
-------------------------------------------*/
.listIssues{}
	.listIssues ul{
		list-style:none;
		margin:0;
		padding:0;
	}
		.listIssues ul li.nav-main-item{
			display:inline-block;
			vertical-align:top;
			width:32%;
			margin-left:1.45%; margin-bottom:20px;
			border:1px solid #ddd;
			border-radius:3px;
			box-shadow:0 1px 10px rgba(0,0,0,.2);
		}
		.listIssues ul li.nav-main-item:nth-child(3n+1){
			margin-left:0;
		}
			.listIssues .item{
				margin:0;
				padding:15px;
				color:#142a88;
				line-height:24px;
				transition:.2s;-moz-transition:.2s;-webkit-transition:.2s;
				cursor:pointer;
			}
			.listIssues .item:hover{
				color:#00adff;
			}
				.listIssues .item .year{
					font-size:14px;
				}
				.listIssues .item .volume{
					font-size:24px;
					margin:0 3px;
				}
			.listIssues .sub-list{
				border-top:1px solid #ddd;
				padding:10px 15px;
				background-color:#f5f5f5;
			}
				.listIssues .sub-list li{
					padding:3px 0;
				}
					.listIssues .sub-list li a{
						color:#111;
					}
					.listIssues .sub-list li a:hover{
						color:#00adff;
					}
						.listIssues .sub-list li a b{
							display:inline-block;
							vertical-align:top;
							width:90px;
						}
							.listIssues .sub-list li a .year{
								display:none;
							}
/*-------------------------------------------
Articles In Press
-------------------------------------------*/
.articlesInPress{}
	.articlesInPress ul{
		list-style:none;
		margin:0;
		padding:0;
	}
		.articlesInPress ul li{
			position:relative;
			border-radius:3px;
			padding:15px; padding-bottom:20px;
		}
		.articlesInPress ul li:nth-child(even){
			background-color:#f5f5f5;
		}
			.articlesInPress .type{
				display:inline;
				border-bottom:1px solid #aaa;
				font-size:13px;
				margin-bottom:5px;
			}
			.articlesInPress .title{
				margin:0;
				font-size:18px; line-height:1.4;
			}
				.articlesInPress .title a{
					color:#142a88;
					transition:.2s;-moz-transition:.2s;-webkit-transition:.2s;
				}
				.articlesInPress .title a:hover{
					color:#00adff;
				}
			.articlesInPress .subtitle{
				margin-top:5px;
				color:#111;
				font-size:15px; line-height:1.4; font-weight:700;
			}
			.articlesInPress .author{
				margin-top:10px;
				background:url(../images/icon-author.png?v=20171228) no-repeat 2px 3px;
				background-size:16px 16px;
				padding-left:24px;
				color:#777;
				font-size:13px;
			}
			.articlesInPress .date{
				background:url(../images/icon-date.png?v=20171228) no-repeat 2px 3px;
				background-size:16px 16px;
				padding-left:24px;
				color:#333;
				font-size:13px;
			}
			.articlesInPress .DOI{
				font-size:13px;
			}
				.articlesInPress .DOI a{
					background:url(../images/icon-blank.png?v=20171228) no-repeat 2px 50% !important;
				}
			.articlesInPress .file{
				margin-top:8px;
			}
			@media 
			all and (min--moz-device-pixel-ratio: 1.5),
			all and (-o-min-device-pixel-ratio: 3/2),
			all and (-webkit-min-device-pixel-ratio: 1.5),
			all and (min-device-pixel-ratio: 1.5),
			all and (min-resolution: 1.5dppx) {
				.articlesInPress .author{background-image:url(../images/icon-author@2x.png?v=20171228);}
				.articlesInPress .date{background-image:url(../images/icon-date.png?v=20171228);}
			}

/*-------------------------------------------
Article Content
-------------------------------------------*/
.articleContent #pageHeader .pageTitle{
	display:block;
	text-align:left;
	font-size:24px;
}
.articleContent #mainContent{
	position:static !important;
	padding-top:10px !important;
}
.articleContent .subTitle{
	margin:0 0 10px;
	color:#000;
	font-size:18px;
}
.articleContent .type{
	font-size:14px;
	position:absolute; top:20px; z-index:10;
}
.articleContent .info{
	color:#777;
}
	.articleContent .info .pages{
		background:url(../images/icon-pages@2x.png?v=20171228) no-repeat 2px 0;
		background-size:16px 16px;
		padding-left:18px;
	}
.articleContent .author{
	background:url(../images/icon-author@2x.png?v=20171228) no-repeat 2px 3px;
	background-size:16px 16px;
	padding-left:24px;
	color:#777;
	margin:10px 0;
}
.articleContent .detail{
	margin-top:5px;
	border:1px dotted #ccc;
	background-color:#f7f7f7;
	padding:15px;
	font-size:13px;
}
	.articleContent .detailButton{
		border-top:1px dotted #ccc;
		text-align:center;
		margin-top:-1px;
	}
	.articleContent #showDetail{
		padding:3px 10px;
		margin-top:-5px;
		font-size:13px;
		border-width:1px;
	}
.articleContent .DOI{
	margin-top:10px;
	font-size:13px;
}
	.articleContent .DOI a{
		background:url(../images/icon-blank@2x.png?v=20171228) no-repeat 2px 50% !important;
		background-size:16px 16px !important;
		padding-left:24px;
	}
.articleContent .file{
	margin-top:8px;
}
.articleContent .otherRow{
	margin:20px 0;
	background-color:#f4f4f4;
	border-radius:3px;
	padding:10px;
	line-height:32px;
	font-size:13px;
}
	.articleContent .otherRow .views{
		float:left;
		background:url(../images/icon-views@2x.png?v=20171228) no-repeat 2px 50%;
		background-size:16px 16px;
		padding-left:24px;
	}
	.articleContent .otherRow .share{
		float:right;
		margin-left:20px;
	}
/*-------------------------------------------
Social Share
-------------------------------------------*/
#socialShare{
	float:right;
	background:url(../images/icon-share@2x.png?v=20180130) no-repeat 0 50%;
	background-size:16px 16px;
	padding-left:20px;
}
	#socialShare a{
		display:inline-block;*display:inline;zoom:1; 
		vertical-align:top;
		width:32px; height:32px; 
		margin-left:5px; 
		background-image:url(../images/icons_social.png?v=20180130); 
		background-size:32px 192px;
		background-repeat:no-repeat;
		background-color:transparent;
		text-indent:-99999em;
		border:none !important;
		overflow:hidden; 
	}
	#socialShare .fb     {background-position:0 0;}
	#socialShare .gl     {background-position:0 -32px; display:none;}
	#socialShare .twitter{background-position:0 -64px;}
	#socialShare .plurk  {background-position:0 -96px;}
	#socialShare .line{background-position:0 -128px;}
	#socialShare .pinterest{background-position:0 -160px !important;}
	@media 
	all and (min--moz-device-pixel-ratio: 1.5),
	all and (-o-min-device-pixel-ratio: 3/2),
	all and (-webkit-min-device-pixel-ratio: 1.5),
	all and (min-device-pixel-ratio: 1.5),
	all and (min-resolution: 1.5dppx) {
		#socialShare a{background-image:url(../images/icons_social@2x.png?v=v=20180130);}
	}

/*-------------------------------------------
outline
-------------------------------------------*/
.outline{
	padding-bottom:20px;
	line-height:1.2;
}
	.outline a{
		color:#00adff;
	}
	.outline a:hover{
		color:#000;
	}
	.TitleL{
		padding:8px 0;
		border-bottom:1px dotted #ddd;
		font-size:110%;
	}
	.TitleM{
		padding:8px 0 8px 24px;
		border-bottom:1px dotted #ddd;
		font-size:100%;
	}
	.TitleS{
		padding-left:8px 0 8px 48px;
		border-bottom:1px dotted #ddd;
		font-size:90%;
	}
/*-------------------------------------------
recommended
-------------------------------------------*/
.recommended ul{
	padding-left:1.4em;
}
	.recommended ul li{
		padding-bottom:5px;
	}
	.recoTitle a{
		font-size:16px; line-height:1.2; font-weight:700;
		color:#00adff;
	}
	.recoTitle a:hover{
		color:#000;
	}
	.recoInfo{
		color:#777;
	}

/*-------------------------------------------
Article Body
-------------------------------------------*/
#articleBody a[href*='#'] sup,
#articleBody sup a[href*='#']{
    background-color:#e8f6fb;
    padding:2px;
    border-radius:3px;
    margin-left:3px;
}
#articleBody a[href*='#']:hover sup,
#articleBody sup a[href*='#']:hover{
    background-color:#00adff;
	color:#fff;
}
.imgItemWrap{
	text-align:center;
}
	.imgItem{
		display:inline-block;
		margin:10px auto;
		width:auto !important; max-width:100% !important;
	}
		.imgDesc{
			margin:20px 0;
			/* padding:10px 0; */
			font-size:12px; line-height:1.4;
			text-align:left;
			word-wrap:break-word;
		}
			.imgDesc a{
				word-break:break-all;
			}
		.imgDesc.imgDescUp{}
		.imgDesc.imgDescDown{}
		.btnImgFullSize{
			display:inline-block;
			background:none !important;
			padding:0 !important;
			margin:0 !important;
			border:none !important;
			box-shadow:none !important;
			font-size:13px;
		}
			.btnImgFullSize img{
				margin:12px auto 8px;
				width:auto; max-width:100%;
				height:auto !important;
				box-shadow:0 1px 8px rgba(0,0,0,.2);
			}
			.btnImgFullSize:hover img{
				box-shadow:0 1px 8px rgba(0,173,255,.4);
			}
			.btnImgFullSize span{
				display:inline-block;
				background-color:#999;
				color:#fff;
				padding:0 10px;
				border-radius:3px;
			}
			.btnImgFullSize:hover span{
				background-color:#00adff;
				color:#fff;
			}
.iframeWrap{
	position:relative;
	width:100%;
	height:0;
	padding-bottom:56.25%;
	overflow:hidden;
}
	.iframeWrap iframe{
		position:absolute; top:0; left:0;
		width:100%; height:100%;
	}

/*-------------------------------------------
references
-------------------------------------------*/
.referencesWrap table{
	width:100%;
}
	.referencesWrap tr td{
		padding:12px 8px;
		line-height:18px;
		font-size:13px;
	}
	.referencesWrap tr:nth-child(even) td{
		background-color:#fcfce5;
	}
	.referencesWrap .rNumber{
		
	}
	.referencesWrap .rAuthors{
		color:#777;
	}
	.referencesWrap .rTitle{
		margin-top:5px;
		font-size:14px;
	}
	.referencesWrap .rInformation{
		margin-top:5px;
		font-size:13px;
		word-wrap:break-word;
	}
		.referencesWrap .rInformation a{
			word-break:break-all;
		}
	.referencesWrap .linkAndFile{
		margin-top:5px;
	}
		.referencesWrap .linkAndFile a{
			display:inline-block;
			background-image:url(../images/icon_blank_12x12@2x.png?v=20171228) !important;
			background-repeat:no-repeat !important;
			background-position:2px 50% !important;
			background-size:12px 12px !important;
			padding-left:24px;
			margin-top:5px;
		}
		.referencesWrap .linkAndFile a.filePDF{
			background-image:url(../images/icon_pdf_12x12@2x.png?v=20171225) !important;
			background-size:12px 12px !important;
		}

#refPopup{
	display:none;
	position:fixed; bottom:0; z-index:50;
	width:100%;
	background-color:#fbfbe2;
	padding:30px 0;
	box-shadow:0 -1px 8px rgba(0,0,0,.2);
}	
#refPopup.active{
	display:block;
}
	#refPopup > .wrapper{
		padding:0 40px;
	}
	#refPopup .refPopupNo{
		margin:0;
		color:#142a88;
	}
	#refPopup .refPopupContent{
		padding:15px 0;
	}
		#refPopup .refPopupContent > div{
			margin-top:5px;
		}
		#refPopup .rAuthors{
			color:#777;
		}
		#refPopup .rTitle{
			color:#000;
			font-size:110%;
		}
		#refPopup .rInformation{
		}
		#refPopup .linkAndFile a{
			display:inline-block;
			background-image:url(../images/icon_blank_12x12@2x.png?v=20171228) !important;
			background-repeat:no-repeat !important;
			background-position:2px 50% !important;
			background-size:12px 12px !important;
			padding-left:24px;
			margin-top:5px;
		}
		#refPopup .linkAndFile a.filePDF{
			background-image:url(../images/icon_pdf_12x12@2x.png?v=20171225) !important;
			background-size:12px 12px !important;
		}
	#refPopup .btnClose{
		position:absolute; right:40px; top:0;
		margin-top:-12px;
		font-size:13px;
	}

/*===========================================
RWD
===========================================*/
@media screen and (max-width:768px){
	.listIssues ul li.nav-main-item{
		width:48%;
		margin-left:3%;
	}
	.listIssues ul li.nav-main-item:nth-child(3n+1){
		margin-left:3%;
	}
	.listIssues ul li.nav-main-item:nth-child(2n+1){
		margin-left:0;
	}
		.listIssues .item .volume{
			font-size:18px;
		}
}
@media screen and (max-width:736px){/* i6+ ~ i8+ Landscape */

}
@media screen and (max-width:667px){/* i6 ~ i8 Landscape */

}
@media screen and (max-width:640px){/* Xiaomi 2S Landscape */

}
@media screen and (max-width:568px){/* i5 Landscape */
	.listIssues ul li.nav-main-item{
		width:100%;
		margin-left:0;
	}
		.listIssues .item{
			padding:10px 15px;
		}
		.listIssues .sub-list li a{
			display:block;
			background:url(../images/link_arrow@2x.png?v=20180226) no-repeat right center;
			background-size:12px 18px;
			padding:5px 0;
		}
			.listIssues .sub-list li a b{
				width:120px;
			}
}
@media screen and (max-width:414px){/* i6+ ~ i8+ */
	.pageSubTitle .publishDate{font-size:28px;}
	.pageSubTitle .publisInfo span{margin:0 3px;}
	.pageSubTitle .btn{padding:5px; width:70px; font-size:12px;}
	.dataList .title{font-size:16px;}
	.dataList .author{font-size:12px;}

	.articleContent .type{top:16px;}
	.articleContent #pageHeader .pageTitle{font-size:20px;}
	.articleContent .subTitle{font-size:16px;}
	.articleContent .info{font-size:13px;}
	.articleContent .author{font-size:13px;}
	.articleContent .detail{font-size:12px;}
	.articleContent .file{margin-top:15px;}
	.articleContent .otherRow .views{float:none;}
	.articleContent .otherRow .share{
		float:left;
		margin-left:0;
		background:url(../images/icon-share@2x.png?v=20180130) no-repeat 0 50%;
		background-size:16px 16px;
		padding-left:24px;
	}
	#socialShare{
		background:none;
		padding-left:0;
	}
}
@media screen and (max-width:375px){/* i6 ~ iX */
	.articleContent .type{font-size:13px;}
	.articleContent #pageHeader .pageTitle{font-size:18px;}
	.articleContent .subTitle{font-size:15px;}
	.articleContent .info{font-size:12px;}
	.articleContent .author{font-size:12px;}
}
@media only screen and (width:375px) and (device-height:812px) {/* iX */

}
@media screen and (max-width:360px){/* Xiaomi 2S */
	.pageSubTitle .btn{
		text-indent:-99999em;
		width:36px;
		background-position:50% 50%;
		background-repeat:no-repeat;
		background-size:12px 18px;
	}
	.pageSubTitle .btnPagePrev{
		background-image:url(../images/issues_prev.png?v=20180226);
	}
	.pageSubTitle .btnPageNext{
		background-image:url(../images/issues_next.png?v=20180226);
	}
}
@media screen and (max-width:320px){/* i5 */
	.articleContent #pageHeader .pageTitle{font-size:16px;}
	.articleContent .otherRow .share{float:none;}
	#socialShare{float:none; text-align:center; margin-top:10px;}
		#socialShare a{margin:0 3px;}
	.dataList .title{font-size:16px;}
	.dataList .author{font-size:12px;}
}